/.venv/
/.idea/dictionaries/project.xml
/.idea/vcs.xml
/.venv-py312-backup/
__pycache__/
*.pyc
.coverage
.pytest_cache/
.ruff_cache/
*.egg-info/
/library/
/config/*
/config
/.idea/pyLspTools.xml
/.idea/*
